body {
    color: $white;
    font-family: $font-df, $font-fallbacks;
    font-size: $font-size-df;
    font-weight: 400;
    letter-spacing: $letter-spacing-df;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: unset;
}

.ctn-header {
    &__brand {
        text-align: center;

        & h1 {
            color: $white;
            font-size: $font-size-df;
            font-weight: 700;
            letter-spacing: .7rem;
            margin-right: -.7rem;
            text-transform: uppercase;
        }
    }

    &__center {
        text-align: center;
    }

    &__desc {
        font-weight: 300;
        font-size: $font-size-xsm;
        // letter-spacing: .05rem;
        text-transform: capitalize;
        margin-right: -$letter-spacing-df;
    }
}

.l-case {
    text-transform: lowercase !important;
}

.line-br {
    display: block;
}

.typewriter__text {
    color: $white;
    font-family: $font-type;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: .1rem;
    word-spacing: -.5rem;
    white-space: nowrap;
}

@media only screen and (min-width: 321px) {
    .ctn-header {
        &__brand {
            & h1 {
                font-size: $font-size-md;
            }
        }

        &__desc {
            font-size: $font-size-sm;
        }

    }
}