.handwriting,
.typewriter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.padding-page {
    padding-right: 2rem;
    padding-left: 2rem;
}



.l-case {
    text-transform: lowercase !important;
}

.line-br {
    display: block;
}