$black : #000;
$white: #fff;
$gray-dark: #222;
$gray-md: #888;
$gray-light: #eee;

// $color-primary: #DEA787;
// $color-primary: #EB8B83;
// $color-primary: #F5A189;
// $color-primary: #783C26;
// $color-primary: #C46949;
// $color-primary: #f7bbaf;
// $color-secondary: #205A78;
$color-primary: #C4A393;
$color-secondary: #667078;
// $color-secondary: #3D5A78;
// $color-secondary: #1D313A;

// ==============================================
// FONT
$font-size-big: 2.6rem;
$font-size-xxlg: 2.2rem;
$font-size-xlg: 2rem;
$font-size-lg: 1.8rem;
$font-size-md: 1.6rem;
$font-size-df: 1.4rem;
$font-size-sm: 1.2rem;
$font-size-xsm: 1rem;
$font-size-xxsm: .85rem;

/* $font-reg: 'LatoWeb';
$font-black: 'LatoWebBlack';
$font-bold: 'LatoWebBold';
$font-semibold: 'LatoWebSemibold';
$font-light: 'LatoWebLight'; */
$font-df: 'Open Sans';
$font-type: 'Roboto Mono',
monospace;
$font-fallbacks: -apple-system,
BlinkMacSystemFont,
"Lucida Grande",
"Roboto",
"Segoe UI",
"Oxygen",
"Oxygen-Sans",
"Ubuntu",
"Cantarell",
"Helvetica Neue",
"Helvetica",
"Apple Color Emoji",
"Segoe UI",
"Segoe UI Emoji",
"Segoe UI Symbol",
Helvetica,
Arial,
sans-serif;

$letter-spacing-df: 0.1rem;