.typewriter {
    display: inline-block;
    // >> utilities
}

.typewriter__text {
    border-right: .1rem groove #eee;
    animation: typing 1.5s steps(18, end), blink .75s step-end infinite;
    animation-delay: .5s;
    opacity: 0;
    overflow: hidden;
    filter: drop-shadow(3px 3px 2px rgba($black, .7));
}