@media only screen and (orientation: landscape) {
    .home {
        &__frame {
            flex-direction: row;
            // grid-template-columns: 50% 50%;
            // grid-template-rows: 100% 100%;

            &--fr1 {
                & .home__intro__frc {
                    display: flex !important;
                    justify-content: flex-end;
                    width: 100%;

                    & span:first-of-type {
                        color: $gray-light;
                        display: block;
                        right: .3rem;
                    }

                    & span:nth-of-type(2) {
                        display: none;
                    }
                }
            }

            &--fr2 {
                & .home__intro__frc {
                    bottom: 0;

                    & span:first-of-type {
                        display: none;
                    }

                    & span:nth-of-type(2) {
                        display: block;
                        color: $gray-dark;
                        left: .2rem;
                    }
                }
            }
        }

        &__intro {

            &__frc,
            &__opaque {
                margin: 0 !important;

                & span {
                    transform: rotate(0);
                }
            }

            &__frc {
                bottom: 0;
                display: block !important;
                // position: relative !important;
                position: absolute;
                top: 15%;
                animation: slideDown .5s ease-in-out forwards;

                & span {
                    // position: absolute;
                    position: relative !important;
                }
            }

            &__opaque {
                position: relative !important;
                animation: fadeIn .5s ease-in-out forwards;
                animation-delay: .5s;
                opacity: 0;

                &__wrapper {
                    top: 11%;
                    // top: 5%;

                    &>div {
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}