@media only screen and (orientation: portrait) {
    .home {
        &__frame {
            flex-direction: column;
            // grid-template-rows: 50% 50%;
            // grid-template-columns: 100%;

            &--fr1 {
                & .home__intro__frc {
                    bottom: .2rem;
                    position: absolute;

                    & span:first-of-type {
                        display: none;
                    }

                    & span:nth-of-type(2) {
                        color: $gray-light;
                        position: absolute;
                    }
                }
            }

            &--fr2 {
                & .home__intro__frc {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: .2rem;

                    & span:first-of-type {
                        color: $gray-dark;
                        position: absolute;
                    }

                    & span:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }

        &__intro {

            &__frc,
            &__opaque {
                transform: rotate(-90deg);
            }

            &__frc {
                position: absolute;
                left: 1rem;
                // animation: slideRight .5s ease-in-out forwards;
            }

            &__opaque {
                position: absolute;

                & span {
                    position: absolute;
                }

                &__wrapper {
                    & > div {
                        left: -6.5%;
                        top: 50%;
                        position: relative;
                    }
                }
            }
        }
    }
}