@media only screen and (min-width: 768px) {
    .ctn {
        &-header {
            background-color: transparent;

            &__main {
                padding: 3rem;
            }
        }

        &-section {
            width: 50%;
            height: 100%;
            left: initial;
            top: 0;

            &--1 {
                left: 0;
            }

            &--2 {
                right: 0;
            }
        }
    }
}